<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    {% block title %}
    
    {% endblock title %} 
  </title>

  {% include 'layout/frontend/snippets/styles.html' %}

  
</head>

<body>

  <!-- Navigation -->
  {% include 'layout/frontend/snippets/navbar.html' %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->  
      {% block contents %}
          
      {% endblock contents %}
          
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include 'layout/frontend/snippets/footer.html' %}

  {% include 'layout/frontend/snippets/scripts.html' %}

</body>

</html>
